{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'book_detail.css' %}">

<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src="{{ book_id.image.url }}" class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p><strong>Цена:</strong> {{ object.price }}</p>
                <p><strong>Дата выхода:</strong> {{ object.release_date }}</p>
                <p><strong>Жанр:</strong> {{ object.genre }}</p>
                <p><strong>Почта:</strong> {{ object.email }}</p>
                <p><strong>Автор:</strong> {{ object.author }}</p>
                <iframe width="100%" height="315" src="{{ book_id.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Блок комментариев -->
    <div class="comment-section">
        <h5>Комментарии</h5>
        {% for i in book_id.reviews.all %}
        <div class="comment">
            <p>{{ i.created_at }} : {{ i.comment }} <strong>Оценка:</strong> {{ i.stars }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'components/footer.html' %}

